* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* ESTILO HEADER */

.header {
    background-color: rgba(245, 198, 159, 0.431);
    border-bottom: solid 1px rgba(184, 149, 120, 0.411);
    height: 10%;
}

.navbar {
    background-color: rgba(245, 198, 159, 0.431);
}

.nav-link {
    color: black;
}


/* ESTILO GENERAL */
main {
    background-image: url(../img/fondos/fondoAcuarela1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
}

h2 {
    font-family: 'Cormorant Garamond', serif;
}

/* ESTILO INICIO */
.inicio {
    height: 100%;
}

.imginicio {
    width: 80%;
}

.principal {
    padding: 5vh;
    font-weight: bold;
}

.novedades {
    padding: 1%;
    font-weight: bold;
}

.regala {
    font-size: large;
}

/* ESTILO NOSOTROS */
.nosotros {
    height: 100vh;
}

iframe {
    width: 65vh;
    height: 40vh;
    margin-left: 25%;
}

.section3 {
    padding: 2vh;
}

.historia {
    font-size: 3vh;
    font-style: italic;
    text-align: justify;

}

/* ESTILO FOOTER */
.footer {
    background-color: rgba(245, 198, 159, 0.431);
    border-top: solid 1px rgba(184, 149, 120, 0.411);
    height: 15vh;
}

.footer img {
    width: 5%;
    height: 5%;
}

.marca {
    font-size: 3vh;
}

/* Responsive celulares: */

@media (max-width: 576px) {

    .header img {
        height: 10vh;
        width: 45vw;
    }

    .footer img {
        width: 20px;
        height: 20px;
    }

    .historia {
        font-size: 2vh;
        margin-left: 5px;
        margin-right: 5px;
    }

    iframe {
        width: 350px;
        height: 230px;
        margin-left: 0%;
    }

}

/* Responsive tablets: */

@media only screen and (max-width: 768px) and (min-width: 576px) {

    .footer img {
        width: 30px;
        height: 30px;
    }

    .historia {
        font-size: 2vh;
        margin-left: 5px;
        margin-right: 5px;
    }

    iframe {
        width: 500px;
        height: 350px;
        margin-left: 20%;
    }
}